@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.main {
  display: flex;
  height: calc(100vh - 80px);
  padding-top: 15px;
  justify-content: flex-start;
  background-color: #424246;
  color: #fff;
  overflow: auto;
}

.home,
.profile,
.login,
.water-intake-report {
  transition: 850ms;
  width: 100%;
}

.main.sidebar-active .home,
.main.sidebar-active .profile,
.main.sidebar-active .login,
.main.sidebar-active .water-intake-report {
  margin-left: 250px;
}

/* Navbar CSS */
.navbar {
  background-color: #3a5899;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-bars {
  margin-right: 2rem;
  font-size: 1.3rem;
  background: none;
  color: #fff;
}

.navbar .menu-bars {
  display: none !important;
}

.navbar .menu-bars.active {
  display: inherit !important;
}

.nav-menu {
  background-color: #3a5899;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-menu ul {
  padding-left: 0px;
}

.nav-text {
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 12px;
  list-style: none;
  height: 50px;
}

.nav-text a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover,
.nav-text a.active {
  background-color: #424246;
  color: #fff;
}

.nav-menu ul li ul {
  display: none;
  background: #3a5899;
  padding-bottom: 7px;
  border: 1px solid #efefef;
  border-radius: 10px;
}

.nav-menu ul li ul li {
  padding: 10px 0px 4px 10px;
  width: 220px;
}

.nav-menu ul li ul li a {
  font-size: 16px;
}

.nav-text a.active+ul {
  display: block;
  position: absolute;
  z-index: 1;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #3a5899;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.user-info {
  padding: 30px;
  padding-bottom: 0;
  list-style: none;
}

.user-info p {
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin-top: 16px;
}

.user-info img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid #fff;
}

#profile-card .card-header {
  display: flex;
  justify-content: space-between;
}

#profile-card:hover .card-header,
#profile-card .editing {

  transition: ease;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20%;
}

.back-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.back-link:hover,
.back-link.active {
  color: #3a5899;
}

.profile .card {
  width: 100%;
}

.profile .card .card-body,
.profile .card .card-body .nodata {
  min-height: 200px;
  transition: 850ms;
}